@media(max-width:320px){

	*{
		font-size: 14px;
	}

	.intro .btn{
		margin: 4% auto;
	}

	.links {
		margin-top: 10%;
		margin-bottom: 10%;
	}

	.testimonials h1{
		font-size: 24px;
	}

	.testimonials h3{
		font-size: 16px;
	}

}